{block content}
{control editReportGrid}
<div class="row mt-3">
	<div class="col-4">
		<button name="back" class="btn btn-sm btn-primary" onclick="window.location.href={link Report:default}">Zpět na výpis</button>
	</div>
</div>