{* Latte template *}

{form form}
	<div class="row">
		<div class="col-12">
			{input code}
			{input save}
		</div>
	</div>
{/form}

{snippet modal}
	{ifset $showModal}
		<div id="couponModal" class="modal fade corporate" tabindex="-1" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">{_'redenge_coupon.modal_title'}</h4>
					</div>
					<div class="modal-body">
						<p>{$message}</p>
						{ifset $maxPercentInfo}
							<p>{$maxPercentInfo}</p>
						{/ifset}
					</div>
				</div>
			</div>
		</div>

		<script n:syntax="off" type="text/javascript">
			$("#couponModal").modal('show');
		</script>
	{/ifset}
{/snippet}