{*
	@var $coupon Redenge\Coupon\FrontModule\Entity\Coupon
	@var $totalDiscount string
*}
<div class="itemList">
	<div class="contentList1">
		<div class="baseObj-art">
			<span class="imgList">
				<img src="/image/product/85x103/123.jpg" alt="{_'cart.coupon'}">
			</span>

			<div class="subjectList">
				<div class="itemName">
					<span>{_'cart.coupon'} ,,{$coupon->getName()}"</span>
				</div>
			</div>
		</div>
		<div class="baseObj-more"></div>
		<div class="baseObj-count"></div>
		<div class="baseObj-cartPrice">- {$totalDiscount}</div>
		<div class="baseObj-trash">
			<a class="icon-trash-o" data-toggle="modal" data-target="#modalDeleteCoupon"></a>
		</div>
	</div>
</div>

<div role="dialog" tabindex="-1" class="modal fade corporate" id="modalDeleteCoupon">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
				<h4 class="modal-title">{_'cart.remove_modal_caption'}</h4>
			</div>
			<div class="modal-body">
				<p>{_'cart.remove_modal_plea'}</p>
				<button type="button" data-dismiss="modal" class="btn prevStep">{_'layout.storno'}</button>
				<a n:href="deleteCoupon!, $coupon->getId(), $coupon->getItemId()" class="btn nextStep ajax cart-remove-dismiss" type="button" style="display: inline-block;">{_'layout.confirm'}</a>
			</div>
		</div>
	</div>
</div>