{form form}
<div class="categoryList">
	{input couponId}
	{foreach $groups as $group}
		{include #tree tree => $group}
	{/foreach}
</div>
{input save}
{/form}

{define #tree}
	<ul>
		<li n:foreach="$tree as $category">
			<div>
				{if $category->getActive()}
					<input name="categories[]" type="checkbox" value="{$category->id}" checked>
				{else}
					<input name="categories[]" type="checkbox" value="{$category->id}">
				{/if}
				<span data-open="true">{$category->name}</span>
			</div>
			{if count($category->children)}
				{include #tree tree => $category->children}
			{/if}
		</li>
	</ul>
{/define}

<script type="text/javascript">
	$('.categoryList').each(function () {
		$('span', $(this)).each(function () {
			var self = $(this);
			var el = $('>ul', self.closest('li'));

			if (el.length > 0) {
				self.addClass('plusminus');

				if (!self.data('open')) {
					el.hide();
					self.addClass('list-hide');
				}

				self.bind('click', function() {
					el.toggle();
					self.toggleClass('list-hide');
				});
			}
		});
	});
</script>