{block content}
{snippet flashes}
	<div n:foreach="$flashes as $flash" n:class="'alert', 'alert-' . $flash->type">
		<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
		{$flash->message}
	</div>
{/snippet}
{control propertiesGrid}
