{snippet flashes}
	<div n:foreach="$flashes as $flash" n:class="alert, 'alert-' . $flash->type">{$flash->message}</div>
{/snippet}

{form form}
	{foreach $form->getControls() as $control}
		{continueIf $control->getName() == 'save' || $control->getName() == 'back'}
		{include row, control => $control}
	{/foreach}
	<div class="row">
		<div class="col-sm-12 mt-4">
			{input save}
			{input back}
		</div>
	</div>
{/form}

{define row, $control}
<div class="form-group row align-items-center">
	<div class="col-xs-4 col-md-2">
		{$control->getLabel()}
	</div>
	<div class="col-xs-4">
		{$control->getControl()}
	</div>
</div>
{/define}