{form form}
	<div class="row">
		<div class="col-12">
			<div class="card mb-4">
				<div class="card-header">Nastavení slevy</div>
				<div class="card-body">
					{include row, control => $form['discount']}
					{include row, control => $form['discount_percent']}
					{include row, control => $form['discount_percent_pricelevel']}
					{include row, control => $form['discount_percent_promotion']}
					{include row, control => $form['discount_percent_max']}
				</div>
			</div>

			<div class="card">
				<div class="card-header">Podmínky pro splnění</div>
				<div class="card-body">
					{include row, control => $form['price_from']}
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-12 mt-4">
			{input save}
			{input back}
		</div>
	</div>
{/form}

{define row, $control}
<div class="form-group row align-items-center">
	<div class="col-4">
		{$control->getLabel()}
	</div>
	<div class="col-8">
		{$control->getControl()}
	</div>
</div>
{/define}