{snippet flashes}
	<div n:foreach="$flashes as $flash" n:class="alert, 'alert-' . $flash->type">{$flash->message}</div>
{/snippet}

<div class="row">
	<div class="col-4">
		<button type="button" class="btn btn-xs btn-success ml-3" data-toggle="modal" data-target="#couponGeneratorModal">Vygenerovat kupóny</button>

		<div class="modal fade" id="couponGeneratorModal" tabindex="-1" role="dialog" aria-labelledby="couponGeneratorModal" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					{form generateForm}
						<div class="modal-body">
							{snippet formFlashes}
								<div n:foreach="$flashes as $flash" n:class="alert, 'alert-' . $flash->type">{$flash->message}</div>
							{/snippet}
							<div class="form-group row align-items-center">
								<div class="col-4">{label count /}</div>
								<div class="col-8">{input count}</div>
							</div>
							<div class="form-group row align-items-center">
								<div class="col-4">{label max_use/}</div>
								<div class="col-8">{input max_use}</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
							{input save}
						</div>
					{/form}
				</div>
			</div>
		</div>
	</div>
</div>

{control grid}
