{form form}
	<div class="row">
		<div class="col-6">
			<div class="card mb-4">
				<div class="card-header">Základní nastavení</div>
				<div class="card-body">
					{include row, control => $form['code']}
					{include row, control => $form['name']}
					{include row, control => $form['type']}
					{include row, control => $form['validtype']}
				</div>
			</div>

			<div class="card">
				<div class="card-header">Prostředí</div>
				<div class="card-body">
					{include row, control => $form['multishop_id']}
				</div>
			</div>
		</div>

		<div class="col-6">
			<div class="card mb-4">
				<div class="card-header">Platnost kupónu</div>
				<div class="card-body">
					{include row, control => $form['valid_from']}
					{include row, control => $form['valid_to']}
					{include row, control => $form['number_of_uses']}
					<div class="form-group row align-items-center">
						<div class="col-xs-12">
							{input active}
						</div>
					</div>
				</div>
			</div>
			{if $form['custom_params']->getControls()->count() > 0}
			<div class="card">
				<div class="card-header">Vlastní parametry</div>
				<div class="card-body">
					{foreach $form['custom_params']->getControls() as $control}
						{include row, control => $control}
					{/foreach}
				</div>
			</div>
			{/if}
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12 mt-4">
			{input save}
			{input back}
		</div>
	</div>
{/form}

{define row, $control}
<div class="form-group row align-items-center">
	<div class="col-xs-6 col-sm-4">
		{$control->getLabel()}
	</div>
	<div class="col-xs-6 col-sm-8">
		{$control->getControl()}
	</div>
</div>
{/define}