{**
 * @param $values array
 * @param $activeValues array
 * @param $attrs array
 * @param $column Ublaboo\DataGrid\Column\ColumnText
 *}

<select n:attr="(expand)$attrs" class="form-control selectized" name="{$column->getName()}">
	{foreach $values as $id => $value}
		<option value="{$id}"{if in_array($id, $activeValues)} selected{/if}>{$value}</option>
	{/foreach}
</select>